# {{ ansible_managed }}

Defaults env_reset

root ALL=(ALL) ALL

{% for name, user in users.items() -%}
{% if user.sudo is defined and user.sudo -%}
{{ name }} ALL=NOPASSWD: ALL
{% endif -%}
{% endfor -%}
